$colorF: #555554;
$rutaC: '../public/logos/react.svg';

* {
  margin: 0;
  box-sizing: border-box;
}

body {
  //background-color: rgb(49, 49, 49);
  background-image: url('#{$rutaC}');

  //color: red;

}

@import "scss/cabecera";
@import "scss/contenido";
@import "scss/footer";
